@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.6/dist/web/static/pretendard.css');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: 'Pretendard Variable', Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto,
      'Helvetica Neue', 'Segoe UI', 'Apple SD Gothic Neo', 'Noto Sans KR', 'Malgun Gothic', 'Apple Color Emoji',
      'Segoe UI Emoji', 'Segoe UI Symbol', sans-serif;
    font-size: 10px;
  }

  * {
    box-sizing: border-box;
    color: #111111;
  }

  li {
    margin: 0;
    padding: 0;
    text-indent: 0;
    list-style-type: none;
  }
}

.btn-primary {
  @apply text-white bg-primary-dark disabled:bg-gray-300;
}

.btn-secondary {
  @apply text-gray-500 bg-white border border-gray-200 disabled:text-gray-300 disabled:border-gray-300 active:border-black;
}

.tag-dark {
  @apply text-white bg-gray-500;
}

.tag-medium {
  @apply text-gray-500 bg-gray-200;
}

.tag-light {
  @apply text-gray-500 bg-white border border-gray-200;
}
